<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Class</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/mycss.css" />
    <script src="./js/logout.js"></script>
  </head>

  <body class="text-center">
    <header>
      <nav
        class="navbar sticky-top navbar-light"
        style="background-color: hsl(335, 92%, 43%)"
      >
        <img
          src="images/chalkboardlogo.jpg"
          alt="Logo"
          class="logo"
          height="70"
          width="100"
        />
        <a
          href="/login"
          class="btn btn-warning"
          style="position: absolute; top: 2rem; right: 2.5rem"
          >Log Out</a
        >
      </nav>
    </header>
    <h1>New Course</h1>

    <div class="container">
      <form id='create-course'>
        <label for="tId">Teacher ID:</label><br />
        <input type="text" id="tID" name="tId" /><br />
        <label for="cname">Course name:</label><br />
        <input type="text" id="cname" name="cname" /> <br />
        <label for="cid">Course ID:</label><br />
        <input type="text" id="cid" name="cid" /><br />
        <label for="sub">Subject:</label><br />
        <input type="text" id="sub" name="sub" /><br />
        <label for="cap">Capacity:</label><br />
        <input type="text" id="cap" name="cap" /><br />
        <br />
        <input type="button" value="Add New Course" onclick="addCourse(event);" class="btn btn-success" /><br />
      </form>
      <br />
    </div>

    <footer class="sticky-bottom" style="margin-top: 200px">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link disabled" aria-current="page" href="#"
            >King's College</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mailto:12345@email.com">12345@email.com</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">(000)-(111)-(2222)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#"
            >100 St. Ave Z. New York,NY 00001</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">&copy; 2021</a>
        </li>
      </ul>
    </footer>
    <script>
      const form = document.getElementById('create-course');
        form.addEventListener('submit', addCourse)
      async function addCourse() {
        const tid = document.getElementById("tID").value;
        const courseId = document.getElementById("cid").value;
         const courseName = document.getElementById("cname").value;
        const subject = document.getElementById("sub").value;
         const capacity = document.getElementById("cap").value;
         console.log('test');
         const data={tid,courseId,courseName,subject,capacity};
         console.log(data);
        await fetch("/course", {
          method: "POST",
          mode: "cors",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        })
          .then((data) => data.json())
          .then((data) => {
            alert(data.status);
          console.log(data.status);
          })
          .catch((err) => console.log(err));
      }
    </script>
  </body>
</html>
