<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>student class</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/mycss.css" />
    <script src="./js/logout.js"></script>
  </head>

  <body class="text-center">
    <header>
      <nav
        class="navbar sticky-top navbar-light"
        style="background-color: hsl(335, 92%, 43%)"
      >
        <img
          src="images/chalkboardlogo.jpg"
          alt="Logo"
          class="logo"
          height="70"
          width="100"
        />
        <a
          href="/login"
          class="btn btn-warning"
          style="position: absolute; top: 2rem; right: 2.5rem"
          onclick="logout();"
          >Log Out</a
        >
      </nav>
      <div class="text-center" id="search">
        <input type="text" placeholder="Search.." />
      </div>
    </header>
    <main>
      <div>
        <h2>History Class 325:</h2>
        <p>
          Topics to be covered this term are:The Roaring Twenties, The Great
          Depression, WWII, and more...
        </p>
        <img
          src="images/twenties.jpg"
          alt="roaring-twenties"
          style="width: 20%; height: 20%"
        />
        <p><b>Instructor for course: Professor Abe Lin</b></p>
        <h3><b>Required Readings for Class:</b></h3>
        <ul>
          <li>United States History 5th Edition BJU Press</li>
          <li>History Course Reader 325 By Abe Lin</li>
        </ul>
      </div>

      <h3><b>Work to be completed for this class:</b></h3>
      <p>Critical Reading: "The Dust Bowl"</p>
      <a href="/historyquiz" class="btn btn-danger"> Quiz!! </a>

      <a href="/historyquiz" class="btn btn-warning">
        Pick up where you left off on the assignment.
      </a>

      <footer class="sticky-bottom" style="margin-top: 100px">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link disabled" aria-current="page" href="#"
              >King's College</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:12345@email.com"
              >12345@email.com</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">(000)-(111)-(2222)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#"
              >100 St. Ave Z. New York,NY 00001</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">&copy; 2021</a>
          </li>
        </ul>
      </footer>
    </main>
  </body>
</html>
