.mycontainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  overflow: auto;
  padding: 20px 20px;
  margin-top: 100px;
}

body {
  background-color: powderblue;
}

#history {
  padding-top: 100px;
}

.list-group {
  padding: 100px;
}

#search {
  margin-top: 20px;
}
#search1 {
  margin-bottom: 20px;
}
#footer1 {
  display: block;
  padding-bottom: 1000px;
}
